<web-app>
    
    <!--registerServlet-->
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerAction</url-pattern>
    </servlet-mapping>
    <!--    loginServlet-->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginrAction</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>register.html</welcome-file>
    </welcome-file-list>

</web-app>
