<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>header</filter-name>
        <filter-class>filter.customer.HeaderFilter</filter-class>
    </filter>
    <filter>
        <filter-name>footer</filter-name>
        <filter-class>filter.customer.FooterFilter</filter-class>
    </filter>
    <filter>
        <description>checks if the user is logged in or not</description>
        <filter-name>userAuth</filter-name>
        <filter-class>filter.customer.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>footer</filter-name>
        <url-pattern>/customer/pages/checkout.jsp</url-pattern>
        <url-pattern>/customer/pages/index.jsp</url-pattern>
        <url-pattern>/customer/pages/product.jsp</url-pattern>
        <url-pattern>/customer/pages/store.jsp</url-pattern>
        <url-pattern>/customer/pages/login.jsp</url-pattern>
        <url-pattern>/ecommerce/loginrAction</url-pattern>
        <url-pattern>/customer/pages/wishlist.jsp</url-pattern>
        <url-pattern>/ecommerce/home</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>header</filter-name>
        <url-pattern>/customer/pages/checkout.jsp</url-pattern>
        <url-pattern>/customer/pages/index.jsp</url-pattern>
        <url-pattern>/customer/pages/product.jsp</url-pattern>
        <url-pattern>/customer/pages/store.jsp</url-pattern>
        <url-pattern>/ecommerce/loginrAction</url-pattern>
        <url-pattern>/customer/pages/wishlist.jsp</url-pattern>
        <url-pattern>/ecommerce/home</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>userAuth</filter-name>
        <url-pattern>/customer/pages/checkout.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter>
        <filter-name>AdminValidator</filter-name>
        <filter-class>filter.admin.AdminValidatorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminValidator</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home Servlet</servlet-name>
        <servlet-class>servlet.users.common.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home Servlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
