<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <filter>
        <filter-name>header</filter-name>
        <filter-class>filter.customer.HeaderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>header</filter-name>
        <url-pattern>/customer/pages/checkout.jsp</url-pattern>
        <url-pattern>/customer/pages/index.jsp</url-pattern>
        <url-pattern>/customer/pages/product.jsp</url-pattern>
        <url-pattern>/customer/pages/store.jsp</url-pattern>
    </filter-mapping>
    
    <filter>
        <filter-name>footer</filter-name>
        <filter-class>filter.customer.FooterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>footer</filter-name>
        <url-pattern>/customer/pages/checkout.jsp</url-pattern>
        <url-pattern>/customer/pages/index.jsp</url-pattern>
        <url-pattern>/customer/pages/product.jsp</url-pattern>
        <url-pattern>/customer/pages/store.jsp</url-pattern>   
        <url-pattern>/customer/pages/login.jsp</url-pattern>
        <url-pattern>/customer/pages/register.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    
    <filter>
        <filter-name>headerfooterfilter</filter-name>
        <filter-class>filter.admin.HeaderFooterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>headerfooterfilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/admin/ProductListServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>admin/ProductListServlet</welcome-file>
    </welcome-file-list>
</web-app>
